<h1 *ngIf="add">Ajouter une nouvelle course</h1>
<h1 *ngIf="!add">Modifier la course #{{idRace}}</h1>
<form [formGroup]="raceForm" (ngSubmit)="onSubmit()">
  <div>
      Lieu : <input type="text" id="location" name="location" formControlName="location">
  </div>
  <div>
    <ngb-datepicker #dp formControlName="date"></ngb-datepicker>
  </div>

  <p-pickList [source]="listPoneys" [target]="selectedPonies" [responsive]="true" dragdrop="true">
    <ng-template let-pony pTemplate="listPoneys">
        <div class="ui-helper-clearfix">
              {{pony.name}} 
        </div>

    </ng-template>
</p-pickList>

Valeurs : {{ raceForm.value }}
Statut : {{ raceForm.status }}

<button type="submit" [disabled]="!raceForm.valid">Valider</button>
</form>
