<h1>Ajouter une nouvelle course</h1>
<form (ngSubmit)="onSubmit()">
  <div>
      Lieu : <input type="text" id="location" name="location" required [(ngModel)]="model.location">
  </div>
  <div>
    <ngb-datepicker required #dp [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}"></ngb-datepicker>
  </div>

  <p-pickList [source]="ponies" [target]="model.ponies" [responsive]="true" dragdrop="true" dragdropScope="ponies">
    <ng-template let-pony pTemplate="item">
        <div class="ui-helper-clearfix">
            {{pony.name}}
        </div>
    </ng-template>
</p-pickList>

<button type="submit">Valider</button>
</form>
